.DS_Store
NormalizedRPKM_ConstitutiveAlignedExons_Amniote1to1Orthologues.txt
NormalizedRPKM_ConstitutiveAlignedExons_Primate1to1Orthologues.txt
NormalizedRPKM_ConstitutiveExons_Amniote1to1Orthologues.txt
NormalizedRPKM_ConstitutiveExons_Primate1to1Orthologues.txt
README.txt
