pvals_cb
pvals_ht
pvals_kd
pvals_lv
pvals_ts
arbutus_S0E.png
arbutus_ref.png
arbutus_single_SE.png
arbutus_test1.png
arbutus_test2.png
arbutus_test5.png
fit_S0E
fit_ref
fit_single_SE
fit_test
fit_test1
fit_test2
fit_test5
pvals_S0E
pvals_ref
pvals_single_SE
pvals_test
pvals_test1
pvals_test2
pvals_test5
pvals_S5E
arbutus_S100E.png
arbutus_S10E.png
arbutus_S50E.png
arbutus_S5E.png
fit_S100E
fit_S10E
fit_S50E
fit_S5E
pvals_S100E
pvals_S10E
pvals_S50E
